<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <div class="body-container">
        <div class="navbar-container">
            <div class="left">
                <div class="logo-img">
                    <i class="fa fa-envira"></i>
                </div>
                <div class="logo-name">
                    Smart Agriculture
                </div>
            </div>
            <div class="right">
                
            </div>
        </div>
        <div class="login-container">
            <div class="login-box">
                <div class="login-header">
                    <div class="header-content">
                        Portal Login
                    </div>
                </div>
                <div class="login-content">
                    <div class="username">
                        <div class="username-label">
                            Username
                        </div>
                        <div class="username-input">
                            <input placeholder="" class="input-user" type="text"/>
                        </div>
                    </div>
                    <div class="password">
                        <div class="password-label">
                            Password&nbsp;
                        </div>
                        <div class="password-input">
                            <input placeholder="" class="input-pass" type="password"/>
                        </div>
                    </div>
                </div>
                <div class="login-menu">
                    <div class="login-button">
                        <div class="butn">
                            <div>Login</div>
                        </div>
                    </div>
                    <div class="signup">
                        <a href="/signup"><span>SignUp here</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>